.idea/
tmp/
out/

visualisations/*
!visualisations/.gitkeep

gridsearch/*
!gridsearch/.gitkeep
experiments/*
!experiments/.gitkeep

*.jar
*.class

!contest.jar
!testrun.jar
!BentCigarFunction.class
!KatsuuraEvaluation.class
!SchaffersEvaluation.class
!SphereEvaluation.class
